<h1>Completed Task Search</h1>

<%= form_for search_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Go", name: nil %>
  </p>
<% end %>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <h3>
        <%= link_to task.title, controller: "tasks", action: "show", id: task%>
      </h3>
    </li>
  <% end %>
</ul>

<br>

<%= link_to 'New Task', new_task_path %> |
<%= link_to 'Dashboard', tasks_path %>
